.main {
  min-height: calc(100vh - 80px);
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
}

